.glitch-effect-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 0px var(--dark-eggshell);
    font-size: 5rem;
}

.glitch-effect{
    position: relative;
    cursor: pointer;
}

.glitch-effect-main{
    position: relative;
    z-index: 1;
}

.glitch-effect-sub{
    position: absolute;
    top: 50%;
    left: 50%;
    text-wrap: nowrap;
}

.glitch-effect-sub.sub1{
    scale: 1.05;
    z-index: 2;
}
.glitch-effect-sub.sub2{
    z-index: 0;
}

