.landing-page-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.landing-page-content {
    position: relative;
    width: 1200px;
    max-width: 90dvw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 10dvh; */
    margin-top: 9rem;
}

/* hero section */
.landing-page-hero-wrapper {
    position: relative;
    width: 100%;
    height: fit-content;
    padding-top: 8rem;
    /* aspect-ratio: 16/8; */
    font-family: 'francois', sans-serif;
    /* background-color: red; */
}

.landing-page-hero-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f8f7f0; */
    border-radius: 1rem;
    color: var(--basic-purple);
    /* box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5); */
}

.landing-page-hero-content-text {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    user-select: none;
    /* background-color: red; */
    /* gap: 1rem; */
}

.landing-page-hero-content h1 {
    font-size: 2.5rem;
}

.landing-page-brick-highlight {
    color: var(--basic-brick);
    text-shadow: 1px 1px 0em var(--dark-brick);
}


.landing-page-hero-content-text-top {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.landing-page-CTA {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-top: 1rem;
    padding: 0.2em 1em;
    border-radius: 5rem;
    font-size: 1.6rem;
    color: white;
    background-color: var(--basic-purple);
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.landing-page-CTA:hover{
    color: var(--basic-purple);
    background-color: white;
}

.landing-page-CTA-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}


/* zdog paper plane */
.zdog-paper-plane-container {
    position: absolute;
    top: 5%;
    right: 100%;
    /* transform: translateY(-50%); */
    height: 9rem;
    aspect-ratio: 1/1;
    filter: drop-shadow(2px 2px 2px var(--dark-eggshell));
    /* background-color: red; */
}

.zdog-paper-plane {
    position: relative;
    width: 100%;
    height: 100%;
}

/* zdog chill sun */
.landing-page-hero-chill-sun {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

/* liquid glass cursor */
.liquid-glass-cursor-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.liquid-glass-cursor-fixed-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
}

.liquid-glass-cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 10rem;
    aspect-ratio: 1/1;
    background-color: rgba(255, 255, 255, 0.137);
    border-radius: 0%;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

/* oiiao cursor */
.oiiao-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;   
    z-index: 3;
}

.oiiao-cursor-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
}

.oiiao-cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    aspect-ratio: 1/1;
    /* background-color: rgba(255, 255, 255, 0.137);
    border-radius: 0%;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2); */
    /* pointer-events: auto;
    cursor: pointer; */
}


/* foot print block */
.foot-print-block-container {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /* background-color: rgba(255, 0, 0, 0.233); */
}

/* slogan block */
.landing-page-slogan-block {
    position: relative;
    width: 90%;
    height: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding-top: 5%; */
    /* background-color: var(--basic-sunset); */
    z-index: 1;
    /* background-color: blue; */
}

.landing-page-slogan-block-content-wrapper {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5%;
    /* transform: translateY(10%); */
    /* background-color: red; */
}

.landing-page-slogan-block-card-interactive-wrapper {
    position: relative;
    width: 500px;
    aspect-ratio: 5/3;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    cursor: grab;
}

.landing-page-slogan-block-card {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
    color: var(--basic-purple);
    font-size: 2rem;
    background-color: var(--basic-eggshell);
    /* border: 4px solid var(--basic-purple); */
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2),
                inset 2px 2px 3px 0 rgb(255, 255, 255);
    border-radius: 1rem;
    transform-style: preserve-3d;
}

.landing-page-slogan-block-card-paste-ready-wrapper {
    /* position: relative;
    width: 50%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center; */
    /* background-color: green; */
    position: relative;
    width: 400px;
    aspect-ratio: 5/3;
    perspective: 1000px;
    cursor: grab;
    /* transform: translateY(40%); */
}

/* .landing-page-info-block-first-card {
    position: relative;
    height: 220px;
    aspect-ratio: 5/3;
    perspective: 1000px;
    transform: translateY(30%);
} */

/* .landing-page-slogan-block-card-paste-ready{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
    border-radius: 1rem;
    color: var(--basic-purple);
    font-size: 2rem;
    background-color: var(--basic-eggshell);
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2),
                inset 2px 2px 3px 0 rgb(255, 255, 255);
    transform-style: preserve-3d;
    transform: rotateY(-20deg);
} */

.landing-page-slogan-and-text {
    position: relative;
    font-size: 3rem;
    color: var(--basic-purple);
    font-family: 'francois', sans-serif;
}

/* landing page card helicpoter */
.landing-page-card-helicpoter {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    aspect-ratio: 1/1;
    filter: drop-shadow(2px 2px 2px var(--dark-eggshell));
    /* border: 3px solid rgb(255, 179, 37); */
}

/* landing page dashboard */
.landing-page-dashboard-container {
    position: relative;
    width: 100%;
    height: 800px;
    max-height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--basic-eggshell); */
}

.landing-page-dashboard {
    position: relative;
    width: 90%;
    height: 85%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 2;
    /* background-color: var(--basic-purple); */
}

.landing-page-dashboard-content-wrapper {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    /* background-color: var(--basic-purple); */
}

.landing-page-dashboard-content-full {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1rem 2rem;
    border: 6px solid var(--basic-purple);
    border-radius: 1rem;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2),
                inset 2px 2px 3px 0 rgb(0, 0, 0, 0.2);
    background-color: var(--basic-ivory);
}

.landing-page-dashboard-content-half {
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1% 5%;
    border: 6px solid var(--basic-purple);
    border-radius: 1rem;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2),
                inset 2px 2px 3px 0 rgb(0, 0, 0, 0.2);
    background-color: var(--basic-ivory);
    /* background-color: var(--basic-purple); */
}

.landing-page-dashboard-content-text-container {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    z-index: 1;
    /* gap: 0rem; */
    /* margin: 0;
    padding: 0; */
}

.landing-page-dashboard-content-text-container p {
    margin: 0;
    padding: 0;
}

.landing-page-dashboard-content-text-container p.main {
    font-size: 5rem;
    color: var(--basic-brick);
    /* background-color: red; */
}

.landing-page-dashboard-content-text-container p.sub {
    font-size: 1.6rem;
    color: var(--basic-purple);
    text-shadow: 1px 1px 0em var(--dark-eggshell);

    /* background-color: blue; */
}

.landing-page-dashboard-content-text-container p.desc {
    font-size: 1rem;
    color: #87889b;
    text-shadow: 1px 1px 0em #87889b4d;
    /* background-color: green; */
}

/* arrow up */
.landing-page-arrow-up {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    aspect-ratio: 1/1;
    max-height: 70%;
    z-index: 1;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-arrow-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: drop-shadow(2px 2px 2px var(--dark-sunset));
    z-index: 2;
}

.landing-page-arrow-stroke-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.landing-page-arrow-pointer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 255, 0.116); */
    z-index: 3;
}

.landing-page-arrow-pointer {
    position: relative;
    width: 12%;
    height: 15%;
    background-color: #F2CC8F;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}


.landing-page-arrow-background {
    position: relative;
    width: 100%;
    height: 100%;
    
    /* 格線背景 */
    background-image: 
        /* linear-gradient(90deg, rgba(242, 204, 143, 0.4) 1px, transparent 1px),
        linear-gradient(rgba(242, 204, 143, 0.4) 1px, transparent 1px); */
        linear-gradient(90deg, rgba(129, 178, 154, 0.4) 1px, transparent 1px),
        linear-gradient(rgba(129, 178, 154, 0.4) 1px, transparent 1px);
    
    background-size: 40px 40px;
    
    /* 移動動畫 */
    animation: grid-move 4s linear infinite;
    
    z-index: 1;
}

@keyframes grid-move {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 40px 40px;  /* = background-size，確保無縫循環 */
    }
}

.landing-page-dashboard-content-icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    /* background-color: red; */
}


/* magnifier */
.landing-page-magnifier-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    aspect-ratio: 1/1;
    /* background-color: var(--basic-eggshell); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: var(--basic-purple);
    font-size: 2rem; */
    z-index: 2;
}

.landing-page-magnifier-content {
    position: relative;
}

.landing-page-magnifier-component-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}   

.landing-page-magnifier-component-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    will-change: true;
}

.landing-page-magnifier-lens {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: rgb(129, 154, 178, 0.25);
    border-radius: 50%;
    box-shadow: inset -2px -2px 2px 0 rgba(0, 0, 0, 0.2),
                inset 2px 2px 2px 0 rgb(255, 255, 255),
                inset 5px 0px 10px 0 rgb(239, 250, 255);
}

.landing-page-magnifier-outline {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    /* background-color: red; */
}

/* .landing-page-magnifier-outline {
    position: relative;
    width: 100%;
    height: 100%;
} */

/* languages icon */
.landing-page-languages-icon-wrapper {
    position: relative;
    height: 35%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 0, 0, 0.267); */
}

.landing-page-languages-icon {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0.3em;
    line-height: 2.5rem;
    font-size: 2.5rem;
    color: white;
    will-change: true;
    /* background-color: var(--basic-sunset);
    border-radius: 1rem; */
}

.landing-page-languages-icon-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--basic-sunset);
    border-radius: 1rem;
    will-change: true;
}

.landing-page-languages-icon-text-wrapper {
    position: relative;
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    will-change: true;
}

.landing-page-languages-icon-text-relative {
    position: relative;
}

.landing-page-languages-icon-text-absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: true;
}

/* start exploring */
.start-exploring-container {
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.start-exploring-content {
    position: relative;
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.start-exploring-content-text-container{
    position: relative;
    width: 25rem;
    height: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: true;
    z-index: 3;
    /* background-color: red; */
}

.start-exploring-content-text-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1rem 3rem; */
    background-color: var(--basic-purple);
    border-radius: 100px;
    user-select: none;
    text-shadow: 0 0 10px #f2cc8f00;
    cursor: pointer;
    transition: text-shadow 0.3s ease-in-out;
    z-index: 1;
}

.start-exploring-content-text-wrapper:hover {
    text-shadow: 0 0 10px #f2cc8f9c;
}

.start-exploring-content-text-border{
    position: absolute;
    top: 0;
    left: 0;
    inset: -5px;
    border-radius: 100px;
    /* background: red;
    background: conic-gradient(
                        from 0turn,
                        var(--basic-sunset) 0turn, 
                        var(--basic-brick) 0.25turn, 
                        var(--basic-sunset) 0.5turn, 
                        var(--basic-brick) 0.75turn, 
                        var(--basic-sunset) 1turn
                    ); */
    will-change: true;
    z-index: -1;
}

.start-exploring-content-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: transparent;
    font-size: 3rem;
    background-clip: text;
    -webkit-background-clip: text;
    will-change: true;
}


/* .start-exploring-content-text-border-base {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 10px solid var(--basic-purple);
    border-radius: 1rem;
}

.start-exploring-content-text-border-highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 10px solid transparent;
    border-radius: 1rem;
    background: white;
    mask: linear-gradient(#0000, #0000), conic-gradient(from 0deg, transparent, white, transparent);
    mask-composite: intersect;
    mask-clip: padding-box, border-box;
} */



.start-exploring-canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 0, 0, 0.089); */
}

.planet-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* pointer-events: none; */
}

.pair-planets-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* pointer-events: none; */
}

.space-ship-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 5; */
    /* background-color: red; */
}


.planet-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(2px 2px 2px var(--dark-eggshell));
    /* background-color: rgba(255, 0, 0, 0.089); */
}
