.landing-page-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.landing-page-content {
    position: relative;
    width: 1200px;
    max-width: 90dvw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 10dvh; */
    margin-top: 9rem;
}

/* hero section */
.landing-page-hero-wrapper {
    position: relative;
    width: 100%;
    height: fit-content;
    padding-top: 8rem;
    /* aspect-ratio: 16/8; */
    font-family: 'francois', sans-serif;
    /* background-color: red; */
}

.landing-page-hero-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f8f7f0; */
    border-radius: 1rem;
    color: var(--basic-purple);
    /* box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5); */
}

.landing-page-hero-content-text {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    user-select: none;
    /* background-color: red; */
    /* gap: 1rem; */
}

.landing-page-hero-content h1 {
    font-size: 2.5rem;
}

.landing-page-brick-highlight {
    color: var(--basic-brick);
    text-shadow: 1px 1px 0em var(--dark-brick);
}


.landing-page-hero-content-text-top {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.landing-page-CTA {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-top: 1rem;
    padding: 0.2em 1em;
    border-radius: 5rem;
    font-size: 1.6rem;
    color: white;
    background-color: var(--basic-purple);
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.landing-page-CTA:hover{
    color: var(--basic-purple);
    background-color: white;
}

.landing-page-CTA-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}


/* zdog paper plane */
.zdog-paper-plane-container {
    position: absolute;
    top: 5%;
    right: 100%;
    /* transform: translateY(-50%); */
    height: 9rem;
    aspect-ratio: 1/1;
    filter: drop-shadow(2px 2px 4px var(--dark-eggshell));
    /* background-color: red; */
}

.zdog-paper-plane {
    position: relative;
    width: 100%;
    height: 100%;
}

/* zdog chill sun */
.landing-page-hero-chill-sun {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

/* liquid glass cursor */
.liquid-glass-cursor-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.liquid-glass-cursor-fixed-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
}

.liquid-glass-cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 10rem;
    aspect-ratio: 1/1;
    background-color: rgba(255, 255, 255, 0.137);
    border-radius: 0%;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

/* oiiao cursor */
.oiiao-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3;
}

.oiiao-cursor-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
}

.oiiao-cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    aspect-ratio: 1/1;
    /* background-color: rgba(255, 255, 255, 0.137);
    border-radius: 0%;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2); */
    /* pointer-events: auto;
    cursor: pointer; */
}


/* foot print block */
.foot-print-block-container {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /* background-color: rgba(255, 0, 0, 0.233); */
}

/* slogan block */
.landing-page-slogan-block {
    position: relative;
    width: 90%;
    height: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding-top: 5%; */
    /* background-color: var(--basic-sunset); */
    z-index: 1;
    /* background-color: blue; */
}

.landing-page-slogan-block-content-wrapper {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5%;
    /* transform: translateY(10%); */
    /* background-color: red; */
}

.landing-page-slogan-block-card-interactive-wrapper {
    position: relative;
    width: 500px;
    aspect-ratio: 5/3;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    cursor: grab;
}

.landing-page-slogan-block-card {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
    color: var(--basic-purple);
    font-size: 2rem;
    background-color: var(--basic-eggshell);
    /* border: 4px solid var(--basic-purple); */
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2),
                inset 2px 2px 3px 0 rgb(255, 255, 255);
    border-radius: 1rem;
    transform-style: preserve-3d;
}

.landing-page-slogan-block-card-paste-ready-wrapper {
    /* position: relative;
    width: 50%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center; */
    /* background-color: green; */
    position: relative;
    width: 400px;
    aspect-ratio: 5/3;
    perspective: 1000px;
    cursor: grab;
    /* transform: translateY(40%); */
}

/* .landing-page-info-block-first-card {
    position: relative;
    height: 220px;
    aspect-ratio: 5/3;
    perspective: 1000px;
    transform: translateY(30%);
} */

/* .landing-page-slogan-block-card-paste-ready{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
    border-radius: 1rem;
    color: var(--basic-purple);
    font-size: 2rem;
    background-color: var(--basic-eggshell);
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2),
                inset 2px 2px 3px 0 rgb(255, 255, 255);
    transform-style: preserve-3d;
    transform: rotateY(-20deg);
} */

.landing-page-slogan-and-text {
    position: relative;
    font-size: 3rem;
    color: var(--basic-purple);
    font-family: 'francois', sans-serif;
}

/* landing page card helicpoter */
.landing-page-card-helicpoter {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    aspect-ratio: 1/1;
    /* border: 3px solid rgb(255, 179, 37); */
}

/* landing page dashboard */
.landing-page-dashboard-container {
    position: relative;
    width: 100%;
    height: 800px;
    max-height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--basic-eggshell);
}

.landing-page-dashboard {
    position: relative;
    width: 90%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--basic-purple); */
}

.landing-page-dashboard-content-wrapper-left {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: var(--basic-purple);
}

.landing-page-dashboard-content-wrapper-right {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: var(--basic-purple);
}