
/* icon components */
.icon-components-group{
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: 60dvh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 1.6rem;
    padding-top: 1rem;
    /* background-color: red; */
}

.icon-components-item-wrapper{
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    /* padding-bottom: 1.6rem; */
    /* background-color: red; */
}

.icon-components-item-wrapper:hover{
    .icon-components-item{
        scale: 1.03;
        color: var(--basic-brick);
    }
    .icon-components-item-name{
        color: rgba(61, 64, 91, 0.8);
    }
    cursor: pointer;
}

.icon-components-item-wrapper:active{
    .icon-components-item{
        scale: 1;
    }
}

.icon-components-item{
    position: relative;
    width: 8rem;
    height: 6rem;
    border-radius: 0.5rem;
    background-color: var(--basic-purple);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 2rem;
    user-select: none;
    transition: scale 0.2s ease-in-out, color 0.2s ease-in-out;
    /* background-color: red; */
}

.icon-components-item-name{
    width: 8rem;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(61, 64, 91, 0.6);
    text-shadow: 1px 1px 0px rgba(61, 64, 91, 0.2);
    transition: color 0.2s ease-in-out;
}

/* icon modal */
.icon-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-modal-content{
    position: relative;
    width: 800px;
    max-width: 90dvw;
    height: fit-content;
    max-height: 85dvh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    color: var(--basic-purple);
    border-radius: 0.5rem;
    background-color: var(--basic-eggshell);
    box-shadow: 2px 2px 2px rgba(61, 64, 91, 0.2);
    overflow-y: auto;
    /* background-color: red; */
}


.icon-modal-content::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 10px;
    background-color: rgba(61, 64, 91, 0);
}

.icon-modal-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(150, 152, 165, 0.4);
}

.icon-modal-close-button{
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2rem;
    color: rgba(61, 64, 91, 0.6);
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
    z-index: 2;
    /* background-color: red; */
}

.icon-modal-close-button:hover{
    color: var(--basic-purple);
    scale: 1.1;
}

.icon-modal-close-button:active{
    scale: 0.95;
}

.static-content-template{
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 0;
    gap: 1rem;
    padding: 1rem;
    color: var(--basic-purple);
    font-family: 'passion-one-regular', sans-serif;
    /* background-color: red; */
}

.static-content-template-name{
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 3.2rem;
    line-height: 3.2rem;
    text-shadow: 2px 2px 0px white, 3px 3px 0px var(--basic-brick), 4px 4px 0px rgba(61, 64, 91, 0.2);
    /* background-color: red; */
    /* background: linear-gradient(120deg, var(--basic-brick) 15%, var(--basic-sunset) 50%, transparent 90%); */
    border-radius: 0.5rem;
    /* padding: 0rem 1rem; */
}

.static-content-template-icon{
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--basic-purple);
    border-radius: 0.5rem;
    padding: 1rem;
    flex-shrink: 0;
    box-shadow: 2px 2px 2px rgba(61, 64, 91, 0.2);
    /* font-size: 2rem;
    color: var(--primary-color); */
}

.static-content-template-parent-styles{
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    /* margin-top: 0.5rem; */
    padding: 0rem 0.4rem;
}

/* .parent-styles-title{
    position: relative;
    font-size: 1.5em;
    text-shadow: 2px 2px 0px rgba(61, 64, 91, 0.2);
} */

.parent-styles-item-label{
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    filter: drop-shadow(1px 1px 0px rgba(61, 64, 91, 0.2));
}

.parent-styles-item-label-text{
    position: relative;
    width: 4rem;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.static-content-template-code{
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2.4rem;
    filter: drop-shadow(2px 2px 2px rgba(61, 64, 91, 0.2));
    margin-top: 4rem;
    /* background-color: red; */
}

.static-content-template-copy-button-container{
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1.5rem;
    /* background-color: red; */
}

.static-content-template-copy-button{
    position: relative;
    width:  6.4rem;
    height: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid var(--basic-purple);
    color: var(--basic-purple);
    border-radius: 0.5rem;
    padding: 0.3rem 0.8rem 0.3rem 0.4rem;
    /* transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; */
    cursor: pointer;
}

.static-content-template-copy-button-icon{
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.4rem;
    color: var(--basic-purple);
    transition: color 0.2s ease-in-out;
}

.static-content-template-copy-button:hover{
    .static-content-template-copy-button-icon{
        color: var(--basic-purple);
    }
}

/* .static-content-template-copy-button:hover{
    background-color: var(--basic-purple);
    color: var(--primary-color);
} */
