@font-face {
    font-family: 'passion-one-regular';
    src: url('/fonts/PassionOne-Regular.ttf') format('truetype');
}


/* @font-face {
    font-family: 'passion-one-bold';
    src: url('/fonts/PassionOne-Bold.ttf') format('truetype');
} */

.documents-page-container {
    position: relative; 
    /* width: 100%; */
    min-height: 100dvh;
    /* height: 100%; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--basic-ivory);
    color: var(--basic-brick);
    /* user-select: none; */
    /* font-size: 2rem;     */
}

.documents-page-content {
    position: relative;
    width: 1450px;
    max-width: 94dvw;
    min-height: 100dvh;
    display: flex;
    align-items: flex-start; /* 改為 flex-start */
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    /* background-color: aquamarine; */
}

.documents-page-component-list {
    position: sticky;
    top: 0;
    left: 0;
    width: fit-content;
    min-width: 12rem;
    height: 100dvh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    color: var(--basic-purple);
    transition: all 0.2s ease-in-out;
}


.documents-page-component-list-group-container {
    position: relative;
    width: fit-content;
    height: fit-content;
    min-width: 12rem;
    max-height: calc(100dvh - 14rem);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: auto;
    padding: 0.5rem 0rem 1rem 2rem;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 1.3rem, rgba(0, 0, 0, 1) calc(100% - 1.3rem), rgba(0, 0, 0, 0) 100%);
}

.documents-page-component-list-group-container::-webkit-scrollbar {
    width: 2px;
    border-radius: 10px;
    background-color: rgba(61, 64, 91, 0.2);
}

.documents-page-component-list-group-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(61, 64, 91, 0.3);
}

.documents-page-component-list-group {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.documents-page-component-list-group-name {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--basic-purple);
    text-shadow: 2px 2px 0px rgba(61, 64, 91, 0.2);
    /* background-color: red; */
}

.documents-page-component-list-items-container {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.documents-page-component-list-decoration-line {
    position: relative;
    width: 2px;
    height: 100%;
    background-color: rgba(61, 64, 91, 0.2);
    margin: 0 1rem 0 0.3rem;
}

.documents-page-component-list-items-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.documents-page-component-list-item {
    position: relative;
    width: fit-content;
    min-width: 8rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgba(61, 64, 91, 0.6);
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
    /* background-color: blue; */
}

.documents-page-component-list-item:hover {
    color: var(--basic-brick);
    cursor: pointer;
    transform: translateX(0.2rem);
}

.documents-page-component-list-item.selected {
    color: var(--basic-brick);
    /* text-shadow: 1px 1px 0em rgba(129, 68, 51, 0.2); */
}

.documents-page-component-list-item-indicator{
    position: absolute;
    top: 0;
    left: calc(-1.5em - 1.5rem);
    /* left: 0; */
    width: 1.5rem;
    height: 1.5rem;
    /* width: 3rem;
    height: 3rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(2px 2px 2px var(--dark-eggshell));
    /* transition: all 0.2s ease-in-out; */
    /* background-color: red; */
}

.documents-page-block-separator {
    position: absolute;
    right: 0.5rem;
    /* top: 50%;
    transform: translateY(-50%); */
    width: 2px;
    height: calc(100dvh - 16rem);
    background: linear-gradient(to bottom,rgba(61, 64, 91, 0.2) 50%, rgba(61, 64, 91, 0.1) 100%);
    /* margin: 0 1rem 0 0.3rem; */
}


.documents-page-component-info {
    position: relative;
    /* width: fit-content; */
    flex-grow: 1;
    /* height: fit-content; */
    height: fit-content;
    min-height: 100dvh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
    /* background-color: red; */
}

.documents-page-component-info-title{
    position: relative;
    margin-bottom: 1rem;
    /* background-color: red; */
}

.documents-page-component-info-title span {
    font-family: 'passion-one-regular';
    font-size: 4rem;
    font-weight: 600;
    line-height: 1;
    color: var(--basic-purple);
    text-shadow: 2px 2px 0px white, 3px 3px 1px var(--basic-brick), 4px 4px 2px rgba(99, 99, 99, 0.5);
}

.documents-page-component-info-container{
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.documents-page-component-switch{
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    /* padding-left: 0.5rem; */
}

.documents-page-component-info-content{
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow-x: hidden; */
}

.documents-page-component-preview-container{
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 2.4rem;
}

.documents-page-component-demo{
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--basic-purple);
    border-radius: 1rem;
    padding: 1rem;
    font-size: 4rem;
    color: white;
    /* background-color: rgba(0, 128, 0, 0.205); */
    background-color: var(--basic-purple);
}

.documents-page-component-demo-remark{
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.3rem;
    font-size: 0.9rem;
    color: rgb(172, 175, 177);
}

.documents-page-component-switch-button{
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    padding: 0.2rem 0.5rem;
    /* border: 2px solid var(--primary-color); */
    border-radius: 0.5rem;
    color: var(--primary-color);
    font-size: 1rem;
    background-color: var(--basic-purple);
    user-select: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.documents-page-component-switch-button:hover{
    color: var(--basic-sunset);
    /* border-color: var(--basic-sunset); */
}


.documents-page-component-switch-button.active {
    color: var(--basic-sunset);
    /* border-color: var(--basic-sunset); */
}

.documents-page-component-switch-button-code-icon {
    position: relative;
    width: 1.6rem;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.documents-page-component-switch-button-code-icon div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.documents-page-component-section{
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    /* background-color: red; */
}

.documents-page-component-section-title{
    position: relative;
    font-family: 'passion-one-regular';
    font-size: 2rem;
    color: var(--basic-purple);
    text-shadow: 2px 2px 0px rgba(61, 64, 91, 0.2);
}

.split-text-demo{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;
    text-shadow: 2px 2px 0px var(--dark-eggshell);
}

.documents-page-component-props-table-container{
    position: relative;
    width: fit-content;
    max-width: 70dvw;
    height: fit-content;
    display: flex;
    align-items: center;
    
    background-color: var(--basic-purple);
    border-radius: 0.5rem;
    border: 1px solid var(--basic-purple);
    overflow-x: auto;
}

.documents-page-component-props-table-container::-webkit-scrollbar {
    height: 0.4rem;
    border-radius: 10px;
    /* background-color: rgba(61, 64, 91, 0.2); */
}

.documents-page-component-props-table-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(184, 184, 184, 0.8);
}

.documents-page-component-props-table {
    position: relative;
    width: fit-content;
    height: fit-content;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    background-color: var(--basic-purple);
    color: var(--basic-purple);
    border-radius: 0.5rem;
    /* border: 1px solid var(--basic-purple); */
    /* overflow: hidden; */
    border-collapse: separate;
    border-spacing: 1px; /* 1px 的分隔線 */
}

.documents-page-component-props-table td,
.documents-page-component-props-table th {
    max-width: 24rem;
    background-color: var(--primary-color);
    padding: 8px 12px; 
    /* text-align: start; */
}

.documents-page-component-props-table th {
    background-color: var(--basic-purple);
    color: var(--basic-sunset);
}

.documents-page-component-props-table tr td:first-child {
    color: var(--basic-brick);
}

.documents-page-component-props-table tbody tr:nth-child(even) td {
    background-color: rgb(224, 231, 235);
}

/* 最後一行左下角圓角 */
.documents-page-component-props-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

/* 最後一行右下角圓角 */
.documents-page-component-props-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

.documents-page-component-props-table tr td:nth-child(2) {
    min-width: 6rem;
}

.documents-page-component-props-table tr td:last-child {
    min-width: 22rem;
}

.table-desc-container{
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* padding: 0px 12px; */
    /* padding:  0rem 0.5rem; */
    /* background-color: red; */
}

.table-desc-item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.6rem;
}

.table-desc-item-title{
    position: relative;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: red; */
}

.table-desc-first-tab{
    position: relative;
}

.table-desc-second-tab{
    position: relative;
    margin-left: 1rem;
    text-wrap: nowrap;
}

.table-desc-third-tab{
    position: relative;
    margin-left: 2rem;
    text-wrap: nowrap;
}

.value-input-container{
    position: relative;
    width: fit-content;
    min-width: 5rem;
    /* max-width: 8rem; */
    height: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(59, 59, 59);
    border-radius: 0.3rem;
    overflow: hidden;
}

.value-input-string{
    position: relative;
    min-width: 2rem;        
    max-width: 8rem;        
    width: auto;            
    height: 80%;
    color: var(--primary-color);
    font-family: 'francois', 'sans-serif';
    font-weight: 400;
    font-size: 0.9rem;
    border: none;
    outline: none;
    text-overflow: ellipsis; 
    overflow: hidden;        
    white-space: nowrap;     
    caret-color: var(--primary-color);
    margin: 0.2rem 0.4rem;
}

.value-input-number{
    position: relative;
    width: 5rem;
    /* min-width: 2rem;        
    max-width: 5rem;       */
    /* width: auto;             */
    height: 80%;
    color: var(--primary-color);
    font-family: 'francois', 'sans-serif';
    font-weight: 400;
    font-size: 0.9rem;
    border: none;
    outline: none;
    text-overflow: ellipsis; 
    overflow: hidden;        
    white-space: nowrap;     
    caret-color: var(--primary-color);
    padding-left: 0.5rem;
    /* margin-left: 0.5rem; */
    /* background-color: red; */
    /* margin: 0.2rem 0rem 0.2rem 0.2rem; */
}

.value-input-switch-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    user-select: none;
    cursor: pointer;
}

.value-input-switch-option{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.value-input-color-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.value-input-color{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

/* 針對 WebKit 瀏覽器 (Chrome, Safari) 的額外樣式 */
.value-input-color::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
    border-radius: 0;
}

.value-input-color::-webkit-color-swatch {
    border: none;
    border-radius: 0;
}



.documents-page-link-buttons-container{
    position: absolute;
    left: calc(100% + 2rem);
    bottom: 0.4em;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.documents-page-link-button{
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: 400;
    font-family: 'francois', 'sans-serif';
    color: rgb(224, 231, 235);
    background-color: var(--basic-purple);
    border-radius: 0.5rem;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease-in-out;
    /* border: 1px solid var(--basic-purple); */
}

.documents-page-link-button:hover{
    color: var(--basic-sunset);
    background-color: var(--basic-purple);
}

.code-snippets-container{
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2.4rem;
    /* background-color: red; */
}

.code-snippet{
    position: relative;
    width: 64rem;
    max-width: 70dvw;
    height: fit-content;
    max-height: 80dvh;
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--snippet-bg);
    border-radius: 0.5rem;
    transition: all 0.6s ease-in-out;
    /* background-color: red; */
    /* padding: 0rem 0rem 5rem 0rem; */
}


.code-snippets-container pre {
    margin: 0 !important;
    /* padding: 0 !important; */
}

.code-snippets-container .shiki {
    margin: 0 !important;
    /* padding: 0 !important; */
}

.code-snippets-container code {
    margin: 0 !important;
    /* padding: 0 !important; */
}

.code-snippet::-webkit-scrollbar{
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 10px;
    background-color: rgba(61, 64, 91, 0.2);
}

.code-snippet::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgba(150, 152, 165, 0.4);
}


/* buttons */
.documents-page-component-reload-btn{
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
}



.documents-page-component-copy-btn{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(172, 175, 177);
    border: 2px solid rgb(172, 175, 177);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.documents-page-component-copy-btn:hover{
    /* color: var(--primary-color); */
    border: 2px solid var(--primary-color);
}

.documents-page-component-copy-btn:active{
    scale: 0.95;
}

.to-top-btn{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(172, 175, 177);
    border: 2px solid rgb(172, 175, 177);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.to-top-btn:hover{
    border: 2px solid var(--primary-color);
}

.to-top-btn:active{
    scale: 0.95;
}

.code-snippet-wrapper {
    position: relative;
    width: 64rem;
    max-width: 70dvw;
    height: fit-content;
    max-height: 80dvh;
    border-radius: 0.8rem; /* 如果需要圓角 */
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.code-snippet {
    position: relative;
    width: 100%;
    height: 100%;
    /* max-height: 80dvh; */
    overflow: auto;
    border-radius: 0.8rem; /* 如果需要圓角 */
    /* border: 5px solid red; */
}

.code-snippet-buttons-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: transparent;
    padding: 0.8rem;
    pointer-events: none;
}

.code-snippet-buttons-container > * {
    pointer-events: auto;
}


/* footer */
.documents-page-component-footer{
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: 130px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 1rem;
    color: var(--basic-purple);
}

.footer-text-container{
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.highlight-link-btn{
    position: relative;
    display: inline-block;
    color: var(--basic-brick);
    font-weight: bold;
    /* margin-left: 0.3em; */
    cursor: pointer;
}

.highlight-link-btn::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--basic-brick);
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.highlight-link-btn:hover::after{
    transform: scaleX(1);
}


.footer-bulletpoint{
    position: relative;
    height: 1rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.6rem;
}

.footer-bulletpoint-ball{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.55rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--basic-brick);
    z-index: 1;
    animation: radial-pulse 1.5s infinite;
}

.footer-bulletpoint-ball-light{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-image: radial-gradient(circle, #F2CC8F 0%, transparent 100%);
    z-index: -1;
    animation: radial-pulse-light 1.5s infinite;
    animation-delay: 0.5s;
}


@keyframes radial-pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes radial-pulse-light {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.footer-decoration-line{
    position: relative;
    width: 90%;
    height: 2px;
    border-radius: 5px;
    background-image: linear-gradient(to right, var(--basic-brick) 15%, var(--basic-sunset) 60%, transparent);
    margin-bottom: 2rem;
}