a {
    all: unset;
}


.position-absotlue-full-size {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  


.app-container {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* overflow-y: auto; */
    background-color: var(--basic-ivory); 
    font-family: 'francois', sans-serif;
    /* border: 2px solid red; */
    /* overflow-x: hidden; */
    /* background-color: rgb(0, 195, 255); */
}


/* navbar */
.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* max-width: 100dvw; */
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    pointer-events: none;
    font-family: 'francois', sans-serif;
    font-size: 1rem;
    mask-image: linear-gradient(to bottom, black 55%, transparent 100%);
    /* backdrop-filter: blur(5px);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, transparent 60%);
    transition: all 1s ease-in-out; */
}
  
.navbar-content {
    position: relative;
    width: 1250px;
    max-width: 95dvw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 0rem;
    transition: all 0.3s ease-in-out;
    /* margin-top: 2rem; */
    /* background-color: #5caedd60; */
}

.navbar-home {
    position: relative;
    width: fit-content;
    height: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;
    font-family: 'francois', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--primary-color);
    background-color: var(--basic-purple);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3),
                inset -2px -2px 3px var(--purple-shadow);
    padding: 0rem 1rem;
    border-radius: 1rem;
    pointer-events: auto;
    /* box-shadow: 2px 2px 2px var(--dark-purple); */
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    /* transition: all 0.2s ease-in-out; */
}

.navbar-home-text {
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .navbar-kuaa-icon {
    position: relative;
    height: 90%;
    aspect-ratio: 1;
    transition: all 0.2s ease-in-out;
}

.navbar-home:hover .navbar-kuaa-icon {
    filter: drop-shadow(0 0 3px rgba(242, 204, 143, 0.5));
} */

.navbar-home:hover {
    text-shadow: 0 0 3px rgba(242, 204, 143, 0.8);
}

.navbar-home-mobile {
    position: relative;
    width: fit-content;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0rem;
    font-family: 'francois', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-color);
    background-color: var(--basic-purple);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3),
                inset -2px -2px 3px var(--purple-shadow);
    padding: 0rem 1rem;
    border-radius: 1rem;
    pointer-events: auto;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.navbar-links {
    position: relative;
    width: fit-content;
    height: 3.4rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    background-color: var(--basic-brick);
    padding: 0rem 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3),
                inset -2px -2px 3px var(--brick-shadow);
    font-size: 1.1rem;
    pointer-events: auto;
}

.navbar-links-mobile {
    position: relative;
    width: fit-content;
    height: 2.5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    background-color: var(--basic-brick);
    padding: 0rem 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3),
                inset -2px -2px 3px var(--brick-shadow);
    font-size: 0.9rem;
    pointer-events: auto;
}

.navbar-link {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-weight: 500;
    color: var(--primary-color);
    user-select: none;
    /* border: 1px solid red; */
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

/* .navbar-link:active.navbar-link-icon {
    scale: 1.05;
    filter: drop-shadow(0 0 3px rgba(242, 204, 143, 0.8));
} */


.navbar-link:active{
    scale: 0.95;
}

.navbar-link-icon {
    position: relative;
    width: 2rem;
    height: 2rem;
    transition: all 0.2s ease-in-out;
}

.navbar-link-icon:hover {
    scale: 1.05;
    filter: drop-shadow(0 0 3px rgba(242, 204, 143, 0.8));
}

.navbar-link-icon-text {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    width: fit-content;
    height: fit-content;
    transform: translate(-50%, 0%);
    font-size: 0.8rem;
    color: var(--primary-color);
    padding: 0.1rem 0.4rem;
    border-radius: 0.3rem;
    background-color: var(--basic-purple);
}

/* @keyframes indicator-jump {
    0% {
        transform: translate(0%, -50%);
    }

    30% {
        transform: translate(0%, -100%);
    }

    60% {
        transform: translate(0%, -50%);
    }

    100% {
        transform: translate(0%, -50%);
    }
}

.navbar-link::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -0.8rem;
    transform: translate(0%, -50%);
    width: 5px;
    height: 5px;
    background-color: var(--primary-color);
    border-radius: 50%;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.2s ease-in-out;
}

.navbar-link::after {
    content: '';
    position: absolute;
    top: calc(100% + -2px);
    left: 50%;
    transform: translate(-50%, 0%);
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);
    z-index: 1;
    transition: all 0.2s ease-in-out;
}

.navbar-link:hover::after {
    width: 100%;
}


.navbar-link:hover::before {
    opacity: 1;
    animation: indicator-jump 0.7s ease-in-out infinite;
} */

.rolling-numbers-container {
    position: relative;
    display: inline-block;
}

.rolling-numbers {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
    mask-image: linear-gradient(to bottom, transparent 0%, black 20%, black 80%, transparent 100%);
    transition: all 0.2s ease-in-out;
}

.rolling-numbers-value-wrapper {
    position: relative;
    display: flex;
}

.rolling-numbers-value{
    display: block;
}

/* list modal */
.list-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    font-family: 'roboto', sans-serif;
    font-weight: 800;
    z-index: 101;
}

.list-modal-close-button-container {
    position: relative;
    width: 100%;
    height: 0dvh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5dvw;
    /* background-color: blue; */
}

.list-modal-close-button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    /* transform: translate(0%, -50%); */
    width: calc(2.5dvw + 2.5dvh);
    min-width: 2.5rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    /* border: 2px solid var(--basic-purple); */
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3),
                inset -2px -2px 3px var(--eggshell-shadow);
    color: var(--basic-purple);
    z-index: 2;
}

.list-modal-close-icon {
    position: relative;
    width: 40%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-modal-content-container {
    position: relative;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0dvh 5dvw; */
    /* overflow-y: auto; */
    /* background-color: red; */
}

.list-modal-content-container-tablet {
    position: absolute;
    top: calc(2.5dvh + 2.5dvw + 3rem);
    right: 1.5rem;
    width: fit-content;
    /* height: calc(100dvh - (2.5dvh + 2.5dvw + 4.5rem)); */
    height: 60dvh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3),
                inset -2px -2px 3px var(--eggshell-shadow);
    border-radius: 1rem;
}

.list-modal-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0.5rem, rgba(0, 0, 0, 1) 1.5rem, rgba(0, 0, 0, 1) calc(100% - 1.5rem), rgba(0, 0, 0, 0) calc(100% - 0.5rem));
    overflow-y: auto;
    /* background-color: var(--primary-color); */
    /* border-radius: 0.5rem; */
    /* padding: 1rem; */
    /* background-color: blue; */
}

.list-modal-content::-webkit-scrollbar {
    display: none;
}

.list-modal-content::-webkit-scrollbar-thumb {
    display: none;
}

/* component list */
.component-list {
    position: sticky;
    top: 0;
    left: 0;
    width: fit-content;
    min-width: 14rem;
    height: 100dvh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    padding-top: 7rem;
    gap: 1rem;
    color: var(--basic-purple);
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.component-list-mobile {
    position: relative;
    width: 100%;
    height: 100%;
    /* height: fit-content; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    /* background-color: red; */
}


.component-list-group-container {
    position: relative;
    width: fit-content;
    height: fit-content;
    min-width: 12rem;
    max-height: calc(100dvh - 15.5rem);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: auto;
    padding: 2rem 0rem 1rem 2rem;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 0.6rem, rgba(0, 0, 0, 1) calc(100% - 0.6rem), rgba(0, 0, 0, 0) 100%);
    /* background-color: red; */
}

.component-list-group-container-mobile {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    padding: 10dvh 0rem 10dvh 10dvw;
    /* background-color: green; */
}

.component-list-group-container-tablet {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    padding: 5dvw 10dvw 5dvw 5dvw;
    /* background-color: green; */
}

.component-list-group-container::-webkit-scrollbar {
    display: none;
    /* width: 2px;
    border-radius: 10px;
    background-color: rgba(61, 64, 91, 0.2); */
}

.component-list-group-container::-webkit-scrollbar-thumb {
    display: none;
    /* border-radius: 10px;
    background-color: rgba(61, 64, 91, 0.3); */
}

.component-list-group {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.component-list-group-name {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    /* color: var(--basic-purple); */
    color: var(--primary-color);
    text-shadow: 2px 2px 0px rgba(61, 64, 91, 0.2);
    padding: 0.2rem 0.6rem;
    border-radius: 0.3rem;
    background-color: var(--basic-purple);
}

.component-list-items-container {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.component-list-decoration-line {
    position: relative;
    width: 2px;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(61, 64, 91, 0.2) 0%, rgba(61, 64, 91, 0.2) 100%);
    margin: 0 1rem 0 0.5rem;
}

.component-list-decoration-line.selected {
    background-image: linear-gradient(to bottom, rgba(61, 64, 91, 0.3) 60%, rgba(61, 64, 91, 0) 60%);
    background-size: 2px 20px;
    background-position: 0 0;
    background-repeat: repeat-y;
    animation: decoration-line-marching-ants 2s infinite linear;
}

@keyframes decoration-line-marching-ants{
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 20px;
    }
}


.component-list-items-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.component-list-item {
    position: relative;
    width: fit-content;
    min-width: 8rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgba(61, 64, 91, 0.6);
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
    /* background-color: blue; */
}

.component-list-item:hover {
    color: var(--basic-brick);
    cursor: pointer;
    transform: translateX(0.2rem);
}

.component-list-item.selected {
    color: var(--basic-brick);
    /* text-shadow: 1px 1px 0em rgba(129, 68, 51, 0.2); */
}

.component-list-item-indicator{
    position: absolute;
    top: 0;
    left: calc(-1.5em - 1.5rem);
    /* left: 0; */
    width: 1.5rem;
    height: 1.5rem;
    /* width: 3rem;
    height: 3rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(2px 2px 2px var(--dark-eggshell));
    /* transition: all 0.2s ease-in-out; */
    /* background-color: red; */
}

/* report modal */
.report-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.6rem;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    font-family: 'francois', sans-serif;
    font-weight: 800;
    z-index: 101;
}

.report-modal-item-wrapper{
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.report-modal-item-wrapper:hover {
    .report-modal-point-icon-wrapper {
        opacity: 1;
    }
    .linkedin-icon {
        background-color: var(--basic-brick);
    }
}

.report-modal-item {
    position: relative;
    width: 30rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 1rem;
    font-size: 1.2rem;
    color: var(--basic-purple);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3),
                inset -4px -4px 3px rgb(177, 177, 177);
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: color 0.2s ease-in-out, scale 0.2s ease-in-out;
}

.report-modal-item:hover {
    color: var(--basic-brick);
}

.report-modal-item:active {
    scale: 0.98;
}

.report-modal-item-icon {
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.report-modal-point-icon-wrapper {
    position: absolute;
    top: 50%;
    left: calc(100% + 2rem);
    transform: translate(0%, -50%);
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
    opacity: 0;
    animation: point-icon-animation 2s infinite ease-in-out;
    transition: opacity 0.1s ease-in-out;
}

@keyframes point-icon-animation {
    0% {
        transform: translate(0%, -50%);
    }
    50% {
        transform: translate(-10%, -50%);
    }
    100% {
        transform: translate(0%, -50%);
    }
}

.linkedin-icon {
    position: relative;
    width: 2.4rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-color);
    font-family: 'roboto', sans-serif;
    background-color: var(--basic-purple);
    border-radius: 0.3rem;
    transition: background-color 0.2s ease-in-out;
    overflow: hidden;
    user-select: none;
}

.toggle-switch-label {
    position: relative;
}


.toggle-switch-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

.toggle-switch-layout {
    box-sizing: border-box;
    position: relative;
    width: 4rem;
    height: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ts-color);
    border-radius: 1rem;
    border: 3px solid var(--basic-purple);
    
    filter: drop-shadow(2px 2px 0px rgba(61, 64, 91, 0.2));
}

.toggle-switch-layout-circle {
    position: absolute;
    top: 50%;
    left: 0;
    width: 2rem;
    height: 2rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    border: 3px solid var(--basic-purple);
    transition: scale 0.2s ease-in-out;
}

.toggle-switch-label:active .toggle-switch-layout-circle {
    scale: 0.95;
}

.toggle-switch-text {
    position: relative;
    width: fit-content;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    user-select: none;
    /* background-color: red; */
}
