a {
    all: unset;
}


.position-absotlue-full-size {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  


.app-container {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-color: var(--basic-ivory); 
    font-family: 'francois', sans-serif;
    /* background-color: rgb(0, 195, 255); */
}


/* navbar */
.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    pointer-events: none;
}
  
.navbar-content {
    position: relative;
    width: 1250px;
    max-width: 90dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
    margin-top: 2rem;
    /* background-color: #5caedd60; */
}

.navbar-home {
    position: relative;
    width: fit-content;
    height: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    font-family: 'francois', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--primary-color);
    background-color: var(--basic-purple);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3),
                inset -2px -2px 3px var(--purple-shadow);
    padding: 0rem 2rem;
    border-radius: 3rem;
    pointer-events: auto;
    /* box-shadow: 2px 2px 2px var(--dark-purple); */
    cursor: pointer;
    /* transition: filter 0.3s ease-in-out; */
}

/* .navbar-home:hover {
    filter: drop-shadow(0 0 0.3rem rgba(255, 255, 255, 0.5));
} */

.navbar-links {
    position: relative;
    width: fit-content;
    height: 3.4rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    background-color: var(--basic-brick);
    padding: 0rem 2rem;
    border-radius: 2.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3),
                inset -2px -2px 3px var(--brick-shadow);
    font-size: 1.1rem;
    pointer-events: auto;
    /* font-weight: 500;
    color: var(--primary-color);
    user-select: none;
    cursor: pointer; */
}

.navbar-link {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-weight: 500;
    color: var(--primary-color);
    user-select: none;
    cursor: pointer;
}

@keyframes indicator-jump {
    0% {
        transform: translate(0%, -50%);
    }

    30% {
        transform: translate(0%, -100%);
    }

    60% {
        transform: translate(0%, -50%);
    }

    100% {
        transform: translate(0%, -50%);
    }
}

.navbar-link::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -0.8rem;
    transform: translate(0%, -50%);
    width: 5px;
    height: 5px;
    background-color: var(--primary-color);
    border-radius: 50%;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.2s ease-in-out;
}

.navbar-link::after {
    content: '';
    position: absolute;
    top: calc(100% + -2px);
    left: 50%;
    transform: translate(-50%, 0%);
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);
    z-index: 1;
    transition: all 0.2s ease-in-out;
}

.navbar-link:hover::after {
    width: 100%;
}


.navbar-link:hover::before {
    opacity: 1;
    animation: indicator-jump 0.7s ease-in-out infinite;
}


/* footer */
.footer-container {
    width: 100%;
    height: 100px;
    background-color: var(--basic-purple);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    position: relative;
    width: 1250px;
    max-width: 90dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info {
    position: relative;
    width: fit-content;
    max-width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.2rem;
    /* border: 1px solid red; */
}

.footer-info-copyright {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
    color: var(--primary-color);
}

.footer-info-license {
    line-height: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
    color: #b6b6b6;
}

.footer-info-made-by {
    line-height: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
    color: #b6b6b6;
}


.footer-info-made-by-name {
    position: relative;
    /* display: inline-block; */
    color: var(--basic-sunset);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.footer-info-made-by-name:hover {
    text-shadow: 0 0 0.2rem var(--basic-sunset);
}

.footer-info-made-by-name::after {
    content: '';
    position: absolute;
    top: calc(100% + -2px);
    left: 50%;
    transform: translate(-50%, 0%);
    width: 0%;
    height: 2px;
    background-color: var(--basic-sunset);
    z-index: 1;
    transition: all 0.2s ease-in-out;
}


.footer-info-made-by-name:hover::after {
    width: 100%;
}

.footer-info-inline-icon-wrapper {
    display: inline-block;
    position: relative;
    width: 1rem;
    height: 1rem;
    margin: 0 0.2rem;
    transform: translateY(0.15rem);
}

.footer-info-inline-icon {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: star-spin 5s linear infinite;
}

@keyframes star-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes star-spin-reverse {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.footer-links {
    position: relative;
    width: fit-content;
    max-width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* border: 1px solid blue; */
}

.footer-links-item {
    position: relative;
    color: var(--primary-color);
    user-select: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.footer-links-item:hover {
    text-shadow: 0 0 0.2rem var(--primary-color);
}

.footer-links-item::after {
    content: '';
    position: absolute;
    top: calc(100% + -2px);
    left: 50%;
    transform: translate(-50%, 0%);
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);
    z-index: 1;
    transition: all 0.2s ease-in-out;
}

.footer-links-item:hover::after {
    width: 100%;
}
