:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* box-sizing: border-box; */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: var(--basic-ivory);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: rgb(242, 251, 255);
  --basic-ivory: #F4F1DE;
  --basic-eggshell: #f8f7f0;
  --dark-eggshell: #a39f92;
  --eggshell-shadow: #f8f7f080;
  --basic-brick: #E07A5F;
  --dark-brick: #814433;
  --brick-shadow: #81443380;
  --basic-purple: #3D405B;
  --dark-purple: #22243b;
  --purple-shadow: #22243b80;
  --basic-mint: #81B29A;
  --basic-sunset: #F2CC8F;
  --dark-sunset: #a37d4e;
  --snippet-bg: #1A1B26;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

button {
  all: unset;
}

@font-face {
  font-family: 'sriracha';
  src: url('/fonts/Sriracha-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto';
  src: url('/fonts/Roboto.ttf') format('truetype');
}

@font-face {
  font-family: 'francois';
  src: url('/fonts/FrancoisOne-Regular.ttf') format('truetype');
}
/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

.page-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* footer */
.footer-container {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: var(--basic-purple);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.footer-content {
  position: relative;
  width: 1250px;
  max-width: 90dvw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info {
  position: relative;
  width: fit-content;
  max-width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.2rem;
  /* border: 1px solid red; */
}

.footer-info-copyright {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
  color: var(--primary-color);
}

.footer-info-license {
  line-height: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
  color: #b6b6b6;
}

.footer-info-made-by {
  line-height: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
  color: #b6b6b6;
}


.footer-info-made-by-name {
  position: relative;
  /* display: inline-block; */
  color: var(--basic-sunset);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.footer-info-made-by-name:hover {
  text-shadow: 0 0 0.2rem var(--basic-sunset);
}

.footer-info-made-by-name::after {
  content: '';
  position: absolute;
  top: calc(100% + -2px);
  left: 50%;
  transform: translate(-50%, 0%);
  width: 0%;
  height: 2px;
  background-color: var(--basic-sunset);
  z-index: 1;
  transition: all 0.2s ease-in-out;
}


.footer-info-made-by-name:hover::after {
  width: 100%;
}

.footer-info-inline-icon-wrapper {
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
  margin: 0 0.2rem;
  transform: translateY(0.15rem);
}

.footer-info-inline-icon {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: star-spin 5s linear infinite;
}

@keyframes star-spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes star-spin-reverse {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(-360deg);
  }
}

.footer-links {
  position: relative;
  width: fit-content;
  max-width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* border: 1px solid blue; */
}

.footer-links-mobile {
  position: relative;
  width: fit-content;
  /* max-width: 50%; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* padding: 0rem 1rem; */
  font-size: 0.8rem;
  /* border: 1px solid blue; */
}

.footer-links-item {
  position: relative;
  color: var(--primary-color);
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.footer-links-item:hover {
  text-shadow: 0 0 0.2rem var(--primary-color);
}

.footer-links-item::after {
  content: '';
  position: absolute;
  top: calc(100% + -2px);
  left: 50%;
  transform: translate(-50%, 0%);
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.footer-links-item:hover::after {
  width: 100%;
}